@media only screen and (max-width: 749px) {
    .palette img{
    width: 12vw;
    }
    .title img{
    width: 116vw;
    margin: 52vw 1vw 12vw 1vw;
    }
    .button img{
    width: 60vw;
    margin: 46vw 0 4vw 0;
    }
    .cut img{
    width: 72vw;
    }
    .draggable {
    cursor: grab;
    width: 22vw;
    }
    .item1 {
    top: 20%;
    left: 10%;
    width: 27vw;
    }
    .item2 {
    top: 7%;
    left: 51%;
    width: 31vw;
    }
    .item3 {
    top: 29%;
    left: 58%;
    width: 30vw;
    }
    .item4 {
    top: 75%;
    left: 62%;
    width: 29vw;
    }
    .item5 {
    top: 75%;
    left: 17%;
    width: 35vw;
    transform: scaleX(-1);
    }
    .item6 {
    top: 57%;
    left: 56%;
    width: 34vw;
    }
    .item7 {
    top: 56%;
    left: 10%;
    width: 32vw;
    }
    .next img {
    height: 14vw;
    margin: 0 6vw 4vw 0;
    cursor: pointer;
    }
    .lighting img{
    width: 54vw;
    transform: translate(-1vw, 0);
    }
    .dress_up{
    top: 8%;
    left: 10%;
    }
    .dress_up img{
    width: 80vw;
    }
    .bear svg {
    max-width: auto;
    max-height: 108vw;
    }
    .clown_nose {
    top: 23%;
    transform: translate(12vw, 57vw);
    width: 9vw;
    }
    .smile {
    top: 23%;
    transform: translate(7vw, 19vw) rotate(-15deg);
    width: 31vw;
    }
    .clown_hat {
    top: 20%;
    width: 43vw;
    transform: translate(-14vw, 15vw);
    }
    .mustache {
    width: 33vw;
    top: 23%;
    transform: translate(-2vw, 47vw) rotate(15deg);
    }
    .content-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    }
    .bear_drum img {
    width: 116vw;
    }
    .item_1{
    top: -24%;
    width: 40vw;
    left: -5%;
    z-index: 1;
    }
    .item_2{
    display: none;
    }
    .item_3{
    display: none;
    }
    .item_4{
    display: none;
    }
    .item_5{
    display: none;
    }
    .item_6{
    display: none;
    }
    .item_7{
    top: -16%;
    width: 43vw;
    left: 70%;
    z-index: 1;
    }
    .item_8{
    display: block;
    top: -56%;
    width: 70vw;
    left: 54%;
    z-index: 1;
    }
    .item_9{
    display: block;
    top: -84%;
    width: 70vw;
    left: -15%;
    z-index: 1;
    }
    .footer {
    height: 50vw;
    overflow: hidden;
    }
    .footer_triangles{
    width: 500%;
    margin-top: -2vw;
    animation: run 10s linear infinite;
    }
    .footer__columns {
    flex-direction: column;
    }
    .text {
    order: 1;
    }
    .logo {
    display: flex;
    justify-content: center;
    order: 2;
    }
    .text p {
    font-size: 6vw;
    margin: 2vw 2.5vw;
    letter-spacing: 1px;
    }
    .logo img {
    order: -1;
    width: 95vw;
    margin: 1vw 1vw 1vw 1vw;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1280px) {
    .item1, .item2, .item3, .item4, .item5, .item6, .item7{
    width: 18vw;
    }
    .clown_nose {
    transform: translate(12vw, 5vw);
    width: 3vw;
    }
    .smile {
    transform: translate(7vw, 19vw);
    width: 11vw;
    }
    .clown_hat {
    right: 0;
    width: 13vw;
    transform: translate(-10vw, -1vw);
    }
    .mustache {
    right: 0;
    width: 13vw;
    transform: translate(-13vw, 13vw);
    }
    .bear_drum img {
    width: 45vw;
    }
    .item_1{
    top: 24%;
    width: 22vw;
    left: -3%;
    }
    .item_2{
    top: 59%;
    width: 27vw;
    left: 2%;
    }
    .item_4{
    top: -3%;
    width: 21vw;
    left: 25%;
    }
    .item_5{
    top: -40%;
    width: 23vw;
    left: -6%;
    }
    .item_7{
    top: 60%;
    width: 17vw;
    left: 82%;
    }
}