@font-face {
  font-family: "Halvar Mittelschrift DEMO";
  src: url("../fonts/Halvar-Mittelschrift-ExtraBold-Demo.otf")
      format("opentype"),
    url("../fonts/Halvar-Mittelschrift-ExtraBold-Demo.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
