@font-face {
    src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.otf") format("truetype"); 
    font-family: "HelveticaNeueBold";
} 
@font-face {
    src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.otf") format("truetype"); 
    font-family: "HelveticaNeue";
} 
