@font-face {
    src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.otf") format("opentype"); 
    font-family: "HelveticaNeueBold";
} 
@font-face {
    src: url("../fonts/HelveticaNeue/HelveticaNeue-Regular.otf") format("opentype"); 
    font-family: "HelveticaNeueRegular";
} 
